---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

async function fetchGameList() {
  const { data, error } = await supabase
    .from('games')
    .select('id, name'); // Select only the columns you need

  if (error) {
    console.error('Error fetching games:', error);
    return [];
  }
  return data || [];
}

const gameList = await fetchGameList();
---
<Layout title="home">
<body>
	<h1>Available TCGs</h1>
  <ul>
    {gameList.map((game) => (
      <li>
        <a href={`/games/${game.name}`}>{game.name}</a>
      </li>
    ))}
  </ul>
</body>
</Layout>